In [1]:
import pandas as pd

In [ ]:
xl = pd.read_csv("Данные (ФИО)(1).csv")
xl1 = pd.read_csv("Данные (ID, phone).csv")
xl2 = pd.read_excel("Текстовые сообщения (1)(1).xlsx")

In [ ]:
xl.dropna(axis = 0, inplace = True)

In [ ]:
xl

In [ ]:
xl.ФИО.unique().shape

Работа с телефонами

In [ ]:
xl1.dropna(axis = 0, inplace = True)

In [ ]:
xl1.rename(columns = {'Номер телефона':'phone'}, inplace = True )

In [ ]:
xl1

In [ ]:
xl1.phone.unique().shape

In [ ]:
merged_df = pd.merge(xl, xl1, on='ID')

In [ ]:
merged_df

In [ ]:
a = merged_df["ФИО"].values

In [ ]:
a = a.tolist()

In [ ]:
b = a[0].split()

In [ ]:
b

In [ ]:
female = ["а", "я", "ь"]

In [ ]:
c = []

for i in range(len(a)):
    b = a[i].split()

    if len(b) >= 2 and len(b) <= 3:
        ok = b[1][-1]

        if ok in female:
            c.append("Ж")
        else:
            c.append("М")
    
    elif "и" in b:
        c.append("Двое")
        

    else:
        c.append("М")

In [ ]:
c

In [ ]:
merged_df["sex"] = c

In [ ]:
big_data = merged_df

In [ ]:
big_data.drop(columns = "Пол", axis = True)

In [ ]:
big_data.rename(columns = {"ФИО" : "fio", "Дата рождения" : "born_date"}, inplace = True)

In [ ]:
big_data = big_data[["ID", "phone", "fio", "sex", "born_date"]]

In [ ]:
big_data.head(60)

In [ ]:
xl2.to_csv("Test.csv",  index = None, header=True)

In [ ]:
xl2 = pd.read_csv("Test.csv", names = ["message"])

In [ ]:
xl2

In [ ]:
# 11 symbols

numbers = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
close = [",", "."]

In [ ]:
c = []
sch = []

for i in range(len(a)):
    b = a[i].split()
    cl = False

    for buk in range(len(b)):
        if any(l in b[buk] for l in numbers) and len(b[buk]) == 11:
            if any(l in b[buk] for l in close):
                pass
            else:
                c.append(b[buk])
                cl = True
                sch.append(i)

In [ ]:
sch

In [ ]:
xl2

In [ ]:
xl2_c = xl2.loc[sch]

In [ ]:
xl2_c

In [ ]:
xl2_c["phone"] = c

In [ ]:
xl2_c

In [ ]:
merged_df = pd.merge(big_data, xl2_c, on='phone')

In [ ]:
merged_df

In [ ]:
big_data = merged_df

In [ ]:
big_data.to_csv('big_data.csv', index=False)

In [ ]:
x = pd.read_csv("big_data.csv")

In [ ]:
x

In [ ]:
#end = f"+7 ({}) {}-{}-{}"

In [224]:
A = x["phone"].values

In [217]:
a = A.tolist()

In [221]:
len(a)

66

In [230]:
A = list(map(str, a))

In [236]:
end = []


for i in range(len(A)):
    b = A[i][1:4]
    c = A[i][4:7]
    d = A[i][7:9]
    d1 = A[i][9:11]

    end.append(f"+7 ({b}) {c}-{d}-{d1}")

In [240]:
x["phone"] = end

In [241]:
x

,ID,phone,fio,sex,born_date,message
0,56841,+7 (908) 848-83-85,Бакуленко Татьяна Геннадьевна,Ж,5/18/1990,Прошу удалить номер 79088488385 Голубцова Алён...
1,56461,+7 (990) 653-33-98,Бакуленко Татьяна Геннадьевна,Ж,6/16/1970,прошу удалить номер 79906533398 Долгова Елена ...
2,56461,+7 (983) 390-08-43,Бакуленко Татьяна Геннадьевна,Ж,6/16/1970,79833900843
3,57205,+7 (903) 940-89-96,Бауфал Татьяна Викторовна,Ж,5/26/1990,прошу удалить номер 79039408996 Шабанова Зоя С...
4,56754,+7 (993) 888-08-95,Бауфал Татьяна Викторовна,Ж,6/24/1970,прошу удалить номер 79938880895 Модин Алексей ...
...,...,...,...,...,...,...
61,56595,+7 (994) 865-75-03,Шимко Антоний Сергеевич и Юлия Валерьевна,Двое,7/6/1970,АнастасияКараваева: Прошу удалить из базы 7994...
62,56991,+7 (904) 540-86-07,Шипицына Галина Ильинична,Ж,5/31/1990,прошу удалить номер 79045408607 Барышникова Юл...
63,57095,+7 (993) 794-96-67,Шипицына Галина Ильинична,Ж,6/29/1970,Прошу удалить из базы номер 79937949667 Сивков...
64,57097,+7 (777) 469-99-69,Энтентеева Диляра,Ж,5/14/1988,прошу удалить номер 77774699969 Мендыгереева А...
65,57330,+7 (908) 958-67-88,Энтентеева Диляра,Ж,6/11/1970,Прошу удалить номер 79089586788 Уханова Нина А...

In [2]:
x = pd.read_csv("big_data.csv")

In [6]:
x.loc[x.sex=='Двое', 'sex'] = "Семья"

In [7]:
x

,ID,phone,fio,sex,born_date,message
0,56841,+7 (908) 848-83-85,Бакуленко Татьяна Геннадьевна,Ж,5/18/1990,Прошу удалить номер 79088488385 Голубцова Алён...
1,56461,+7 (990) 653-33-98,Бакуленко Татьяна Геннадьевна,Ж,6/16/1970,прошу удалить номер 79906533398 Долгова Елена ...
2,56461,+7 (983) 390-08-43,Бакуленко Татьяна Геннадьевна,Ж,6/16/1970,79833900843
3,57205,+7 (903) 940-89-96,Бауфал Татьяна Викторовна,Ж,5/26/1990,прошу удалить номер 79039408996 Шабанова Зоя С...
4,56754,+7 (993) 888-08-95,Бауфал Татьяна Викторовна,Ж,6/24/1970,прошу удалить номер 79938880895 Модин Алексей ...
...,...,...,...,...,...,...
61,56595,+7 (994) 865-75-03,Шимко Антоний Сергеевич и Юлия Валерьевна,Семья,7/6/1970,АнастасияКараваева: Прошу удалить из базы 7994...
62,56991,+7 (904) 540-86-07,Шипицына Галина Ильинична,Ж,5/31/1990,прошу удалить номер 79045408607 Барышникова Юл...
63,57095,+7 (993) 794-96-67,Шипицына Галина Ильинична,Ж,6/29/1970,Прошу удалить из базы номер 79937949667 Сивков...
64,57097,+7 (777) 469-99-69,Энтентеева Диляра,Ж,5/14/1988,прошу удалить номер 77774699969 Мендыгереева А...
65,57330,+7 (908) 958-67-88,Энтентеева Диляра,Ж,6/11/1970,Прошу удалить номер 79089586788 Уханова Нина А...

In [8]:
x.to_csv('big_data.csv', index=False)